*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 20%;
}

main{
    height: calc(100vh - 100px);
    text-align: center;
    padding-top: 10px;
}
main h3{
    color: red;
    padding-bottom: 10px;
}

main input{
    width: 250px;
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

main button{
    padding: 7px 10px;
    border-radius: 10px;
    border: none; 
    background-color: chartreuse;
}

.lista{
    width: 600px;
    margin: auto;
    background-color: rgb(250, 251, 253);
    padding: 20px;
    border-radius: 20px;
}

.lista ul li{
    text-align: left;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid lightslategray;
}

.lista ul li i{
    float: right;
    cursor: pointer;
}

/* classi active */

.lista ul li.checked{
    color: gray;
    text-decoration: line-through;
}